<!doctype html>
<html lang="en">
  <head>
    <title>Firesprite Game Data</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Mono" rel="stylesheet">
    <link href="/normalize.css" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
  </head>
  <body>
    <h1>Fire Sprite Game Support Data</h1>
    <p>
      Using Netlify Playground setup.
      <a href="https://www.netlify.com/docs/functions">Netlify’s Lambda Functions</a>.
    </p>
    <article>
      <h2>Hello, World!</h2>
      <p>The inevitable Hello World example.</p>
      <pre class="language-js"><code><%= require('html-loader!./lambda/hello.js') %></code></pre>
      <h3>Try it out</h3>
      <p><a href="/.netlify/functions/hello">Say hello!</a></p>
    </article>

    <article>
      <h2>Game Date</h2>
      <p>
        Returns Simple Date object
      </p>
      <pre class="language-js"><code><%= require('html-loader!./lambda/game_date.js') %></code></pre>
      <h3>Try it out</h3>
      <p><a href="/.netlify/functions/game_date">Get Date</a></p>
    </article>

    <script src="https://cdn.jsdelivr.net/npm/prismjs@1.14.0/prism.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
